<div ng-include="'views/header.html'"></div>

<section>
    <article class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Week 1</div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at rhoncus metus. Duis nec sollicitudin metus. Vestibulum ac venenatis lorem. Phasellus accumsan odio ac venenatis porttitor. Quisque varius libero ut neque pellentesque posuere. Nullam faucibus velit eu quam vehicula ullamcorper. Cras convallis ornare odio vel blandit. Nam maximus arcu vitae facilisis condimentum. Donec interdum velit nec nisl vehicula, sed varius sem scelerisque. Morbi at purus at orci viverra facilisis. Cras orci purus, eleifend quis elit eu, facilisis efficitur magna.
            </div>
        </div>
    </article>
    <article class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Week 2</div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at rhoncus metus. Duis nec sollicitudin metus. Vestibulum ac venenatis lorem. Phasellus accumsan odio ac venenatis porttitor. Quisque varius libero ut neque pellentesque posuere. Nullam faucibus velit eu quam vehicula ullamcorper. Cras convallis ornare odio vel blandit. Nam maximus arcu vitae facilisis condimentum. Donec interdum velit nec nisl vehicula, sed varius sem scelerisque. Morbi at purus at orci viverra facilisis. Cras orci purus, eleifend quis elit eu, facilisis efficitur magna.
            </div>
        </div>
    </article>
    <article class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Week 3</div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at rhoncus metus. Duis nec sollicitudin metus. Vestibulum ac venenatis lorem. Phasellus accumsan odio ac venenatis porttitor. Quisque varius libero ut neque pellentesque posuere. Nullam faucibus velit eu quam vehicula ullamcorper. Cras convallis ornare odio vel blandit. Nam maximus arcu vitae facilisis condimentum. Donec interdum velit nec nisl vehicula, sed varius sem scelerisque. Morbi at purus at orci viverra facilisis. Cras orci purus, eleifend quis elit eu, facilisis efficitur magna.
            </div>
        </div>
    </article>
    <article class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Week 4</div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at rhoncus metus. Duis nec sollicitudin metus. Vestibulum ac venenatis lorem. Phasellus accumsan odio ac venenatis porttitor. Quisque varius libero ut neque pellentesque posuere. Nullam faucibus velit eu quam vehicula ullamcorper. Cras convallis ornare odio vel blandit. Nam maximus arcu vitae facilisis condimentum. Donec interdum velit nec nisl vehicula, sed varius sem scelerisque. Morbi at purus at orci viverra facilisis. Cras orci purus, eleifend quis elit eu, facilisis efficitur magna.
            </div>
        </div>
    </article>
</section>